<div class="container h-100">
    <div class="d-flex justify-content-center">
        <p class="text-success display-5 w-75 mb-5 text-center">Your ultimate platform to enhance your problem solving skills</p>
    </div>

    <div class="row align-items-center column-gap-3">
    
        <section class="d-flex flex-column p-3 shadow-sm mb-3 ms-5 col">
            <h2 class="text-dark h2 mb-4">Why Choose Us?</h2>
            <div class="text-start">
                <div class="mb-3">
                    <h3 class="text-primary h5">Wide Range of Challenges</h3>
                    <p class="text-secondary">Explore problems across various domains and difficulty levels.</p>
                </div>
                <div class="mb-3">
                    <h3 class="text-primary h5">Interactive Leaderboard</h3>
                    <p class="text-secondary">Compete with others and climb the ranks.</p>
                </div>
                <div class="">
                    <h3 class="text-primary h5">Detailed Solutions</h3>
                    <p class="text-secondary">Learn from step-by-step explanations by AI for every problem.</p>
                </div>
            </div>
        </section>


        <section class="d-flex flex-column p-3 shadow-sm mb-3 col">
            <h2 class="text-dark h2 mb-4">What Our Users Say</h2>
            <div class="">
                <blockquote class="blockquote text-secondary mb-3">
                    <p>"This platform has helped me improve my coding skills tremendously!"</p>
                    <footer class="blockquote-footer text-primary">Alex</footer>
                </blockquote>
                <blockquote class="blockquote text-secondary">
                    <p>"The challenges are fun and engaging. Highly recommend!"</p>
                    <footer class="blockquote-footer text-primary">Maria</footer>
                </blockquote>
            </div>
        </section>

        <section class="d-flex flex-column p-3 shadow-sm mb-3 me-5 col align-items-center">
            <h2 class="h2 mb-4">Ready to Get Started?</h2>
            <a href="/signup" class="join-button">Join Now</a>
        </section>
    </div>
</div>