
<nav class="px-5 pt-2 bg-light border-bottom shadow-sm ">
  <ul class="nav nav-underline text-center mb-2 column-gap-5 fw-semibold align-items-center">
      <li class="nav-item">
        <a class="fs-5 text-black text-decoration-none" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Brand</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/problems" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Prepare</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Challenge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="justify-self-end ms-auto">
        <ul class="nav nav-underline column-gap-5 fw-semibold align-items-center">
          <li class="nav-item cursor-pointer">
            <a class="nav-link cursor-grab" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Login</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a class="btn btn-warning" routerLink="/signup" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Sign Up</a>
          </li>
        </ul>
      </li>
  </ul>
</nav>